.ui-button
  border: none
  border-radius: 31px
  padding: 6px 15px
  display: flex
  align-items: center
  &:focus
    outline: 2px solid #053c52

.ui-button-light
  background: #0A9DD7;
  color: #fff !important
  &:hover
    background: #0f6e94;
 

.ui-button-contrast
  background: #DE0000;
  color: #fff !important
  &:hover
    background: #8b0101;

