.ui-button
  border: none
  border-radius: 31px
  padding: 5px 15px 7px
  display: flex
  align-items: center
  cursor: pointer
  transition: background 0.4s !important
  &:focus
    outline: 2px solid #053c52

.ui-button-light
  background: #0A9DD7;
  color: #fff !important
  &:hover
    background: #157ace;
 

.ui-button-contrast
  background: #DE0000;
  color: #fff !important
  &:hover
    background: #ff3300;

